@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Nunito&display=swap');

/////////////////////////////////////////
// COLORS VARIABLES
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-animation: hsl(0, 89%, 48%);
$color-primary-animation-1: hsl(54, 89%, 48%);
$color-primary-animation-2: hsl(106, 89%, 48%);
$color-primary-animation-3: hsl(231, 100%, 50%);
$color-primary-animation-4: hsl(286, 87%, 48%);
$color-primary-button: hsl(171, 100%, 21%);
$color-primary-error: hsl(0, 83%, 55%);
$color-primary-container: hsla(0, 0%, 100%, 0.85);