/////////////////////////////////////////
// FORM
.form {
  width: 480px;
}

label {
  font-weight: bold;
  margin-left: $mg-left;
}

input {
  width: 95%;
  margin-bottom: $mg-bottom;
  padding: $padding;
  border: 1px solid $color-border;
  border-radius: 20px;
}