/////////////////////////////////////////
// FORM
.form {
  width: 480px;
}

label {
  font-weight: bold;
  margin-left: $mg-left;
}

input {
  width: 95%;
  margin-bottom: $mg-bottom;
  padding: $padding;
  border: 1px solid $color-border;
  border-radius: 20px;
  background: $color-primary-white;
  outline: none;
  font-family: 'Nunito', sans-serif;
}

.error {
  color: $color-primary-error;
  font-size: 15px;
  margin: -0.5rem 0 0.4rem 0;
  margin-left: $mg-left;
}

// BUTTON 
button {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin-top: 15px;
  border: none;
  text-transform: uppercase;
}